<div id="embedMap" class="moorl-merchant-finder-map">
    <!-- Map Popup Template -->
    {% block page_merchant_finder_map_popup %}
        {% sw_include '@MoorlMerchantFinder/storefront/moorl-merchant-finder/component/popup-item.html.twig' %}
    {% endblock %}
</div>
