<sw-page class="moorl-merchant-marker-list">
    <template slot="smart-bar-header">
        <h2>
            {{ $tc('moorl-merchant-finder.general.markerMenuItemGeneral') }}
        </h2>
    </template>

    <template slot="smart-bar-actions">
        <sw-button variant="primary" :routerLink="{ name: 'moorl.merchant.marker.create' }">
            {{ $t('moorl-foundation.buttons.newButtonText') }}
        </sw-button>
    </template>

    <template #language-switch>
        <sw-language-switch @on-change="changeLanguage"></sw-language-switch>
    </template>

    <sw-sidebar slot="sidebar">
        <sw-sidebar-item icon="default-arrow-360-left"
                         :title="$t('moorl-foundation.buttons.refreshButtonText')"
                         @click="getList"></sw-sidebar-item>
        </sw-sidebar-item>
    </sw-sidebar>

    <template slot="content">
        <sw-entity-listing
                v-if="items"
                :items="items"
                :repository="repository"
                :showSelection="true"
                :columns="columns"
                detailRoute="moorl.merchant.marker.detail"
                @select-item="updateSelection"
                @update-records="updateTotal">
            <template #more-actions="{ item }">
                <sw-context-menu-item @click="onDuplicate(item)">
                    {{ $tc('sw-product.list.buttonDuplicate') }}
                </sw-context-menu-item>
            </template>
        </sw-entity-listing>
    </template>
</sw-page>
