<sw-page class="moorl-merchant-marker-detail">
    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'moorl.merchant.marker.list' }">
            {{ $t('moorl-foundation.buttons.cancelButtonText') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $t('moorl-foundation.buttons.saveButtonText') }}
        </sw-button-process>
    </template>

    <template slot="content">
        <sw-card-view>
            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.label.generalCard')">
                <sw-field :label="$t('moorl-foundation.properties.name')"
                          v-model="item.name"></sw-field>

                <sw-field :label="$t('moorl-foundation.properties.type')"
                          :helpText="$t('moorl-merchant-finder.tooltips.type')"
                          v-model="item.type"></sw-field>
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.label.markerCard')">
                <div class="sw-field">
                    <label>
                        {{ $t('moorl-foundation.properties.markerIconsInfo') }}
                    </label>
                </div>

                <div class="sw-field">
                    <sw-upload-store-listener
                            :uploadTag="uploadTagMarker"
                            autoUpload
                            @media-upload-finish="setMarkerItem">
                    </sw-upload-store-listener>
                    <sw-media-upload
                            :uploadTag="uploadTagMarker"
                            :source="item.markerId"
                            :allowMultiSelect="false"
                            :label="$t('moorl-foundation.properties.markerId')"
                            variant="regular"
                            @sw-media-upload-media-upload-success="setMarkerItem"
                            @media-drop="onDropMarker"
                            @media-upload-remove-image="onUnlinkMarker">
                    </sw-media-upload>
                </div>

                <div class="sw-field">
                    <sw-upload-store-listener
                            :uploadTag="uploadTagMarkerRetina"
                            autoUpload
                            @media-upload-finish="setMarkerRetinaItem">
                    </sw-upload-store-listener>
                    <sw-media-upload
                            :uploadTag="uploadTagMarkerRetina"
                            :source="item.markerRetinaId"
                            :allowMultiSelect="false"
                            :label="$t('moorl-foundation.properties.markerRetinaId')"
                            variant="regular"
                            @sw-media-upload-media-upload-success="setMarkerRetinaItem"
                            @media-drop="onDropMarkerRetina"
                            @media-upload-remove-image="onUnlinkMarkerRetina">
                    </sw-media-upload>
                </div>

                <div class="sw-field">
                    <sw-upload-store-listener
                            :uploadTag="uploadTagMarkerShadow"
                            autoUpload
                            @media-upload-finish="setMarkerShadowItem">
                    </sw-upload-store-listener>
                    <sw-media-upload
                            :uploadTag="uploadTagMarkerShadow"
                            :source="item.markerShadowId"
                            :allowMultiSelect="false"
                            :label="$t('moorl-foundation.properties.markerShadowId')"
                            variant="regular"
                            @sw-media-upload-media-upload-success="setMarkerShadowItem"
                            @media-drop="onDropMarkerShadow"
                            @media-upload-remove-image="onUnlinkMarkerShadow">
                    </sw-media-upload>
                </div>
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.properties.markerSettings')">
                <div class="sw-field">
                    <label>
                        {{ $t('moorl-foundation.properties.markerSettingsExample') }}<br>
                        <a href="https://leafletjs.com/examples/custom-icons/" target="_blank" rel="noopener">{{ $t('moorl-foundation.properties.markerSettingsLink') }}</a>
                    </label>
                </div>

                <sw-field type="number" label="iconSizeX" v-model="item.markerSettings.iconSizeX"></sw-field>
                <sw-field type="number" label="iconSizeY" v-model="item.markerSettings.iconSizeY"></sw-field>
                <sw-field type="number" label="shadowSizeX" v-model="item.markerSettings.shadowSizeX"></sw-field>
                <sw-field type="number" label="shadowSizeY" v-model="item.markerSettings.shadowSizeY"></sw-field>
                <sw-field type="number" label="iconAnchorX" v-model="item.markerSettings.iconAnchorX"></sw-field>
                <sw-field type="number" label="iconAnchorY" v-model="item.markerSettings.iconAnchorY"></sw-field>
                <sw-field type="number" label="shadowAnchorX" v-model="item.markerSettings.shadowAnchorX"></sw-field>
                <sw-field type="number" label="shadowAnchorY" v-model="item.markerSettings.shadowAnchorY"></sw-field>
                <sw-field type="number" label="popupAnchorX" v-model="item.markerSettings.popupAnchorX"></sw-field>
                <sw-field type="number" label="popupAnchorY" v-model="item.markerSettings.popupAnchorY"></sw-field>
            </sw-card>
        </sw-card-view>
    </template>

    <template slot="sidebar">
        <sw-sidebar :propagateWidth="true">
            <sw-sidebar-media-item ref="mediaSidebarItem">
                <template slot="context-menu-items" slot-scope="media">
                    <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                        Logo
                    </sw-context-menu-item>
                </template>
            </sw-sidebar-media-item>
        </sw-sidebar>
    </template>
</sw-page>
