{% block sw_cms_create_wizard_page_type_options %}
    {% parent %}

    <!-- eslint-disable-next-line vuejs-accessibility/click-events-have-key-events -->
    <div
            class="sw-cms-create-wizard__page-type"
            @click="onPageTypeSelect('merchant_detail')"
    >
        <sw-icon
                name="default-object-globe"
                size="24"
        />
        <p>{{ $tc('moorl-merchant-finder.general.mainMenuItemGeneral') }}</p>
    </div>
{% endblock %}
