<div class="sw-product-detail-base">
    <sw-card v-if="product && product.id"
             :isLoading="isLoading"
             :title="$tc('moorl-foundation.label.stockCard')"
             class="moorl-entity-grid">
        <moorl-entity-grid entity="moorl_merchant_stock"
                           :isLoading="isLoading"
                           :criteria="merchantStockCriteria"
                           :filterColumns="merchantStockFilterColumns"
                           :defaultItem="{ productId: product.id }">
        </moorl-entity-grid>
    </sw-card>
</div>
