<sw-page class="moorl-merchant-finder-detail">
    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'moorl.merchant.finder.list' }">
            {{ $t('moorl-merchant-finder.buttons.cancelButtonText') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $t('moorl-merchant-finder.buttons.saveButtonText') }}
        </sw-button-process>
    </template>

    <template #language-switch>
        <sw-language-switch slot="language-switch" :disabled="item && item._isNew"
                            @on-change="onChangeLanguage"></sw-language-switch>
    </template>

    <template slot="content">
        <sw-card-view>
            {% block moorl_merchant_detail_general_card %}
            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.label.generalCard')">
                <sw-field type="switch" bordered :label="$t('moorl-foundation.properties.active')"
                          v-model="item.active"></sw-field>
                <sw-field type="switch" bordered :label="$t('moorl-foundation.properties.highlight')"
                          v-model="item.highlight"></sw-field>
                <sw-number-field :label="$t('moorl-foundation.properties.priority')"
                                 v-model="item.priority"></sw-number-field>
                <sw-field :label="$t('moorl-foundation.properties.type')"
                          :helpText="$t('moorl-merchant-finder.tooltips.type')"
                          v-model="item.type"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.originId')" v-model="item.originId"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.name')" v-model="item.name"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.email')" v-model="item.email"></sw-field>

                <div class="sw-field">
                    <sw-media-upload-v2
                            :uploadTag="uploadTagMedia"
                            :source="item.mediaId"
                            :allowMultiSelect="false"
                            :label="$t('moorl-foundation.properties.logo')"
                            variant="regular"
                            @sw-media-upload-media-upload-success="setMediaItem"
                            @media-drop="onDropMedia"
                            @media-upload-remove-image="onUnlinkMedia">
                    </sw-media-upload-v2>
                </div>

                <sw-field type="textarea"
                          :label="$t('moorl-foundation.properties.description')"
                          :placeholder="$t('moorl-foundation.properties.description')"
                          name="description"
                          v-model="item.description">
                </sw-field>

                <sw-entity-single-select
                        :label="$t('moorl-foundation.properties.cmsPage')"
                        entity="cms_page"
                        v-model="item.cmsPageId">
                </sw-entity-single-select>

                <sw-text-editor v-if="!item.cmsPageId"
                                :label="$t('moorl-foundation.properties.content')"
                                v-model="item.descriptionHtml">
                </sw-text-editor>

                <sw-field type="textarea"
                          :label="$t('moorl-foundation.properties.openingHours')"
                          :placeholder="$t('moorl-foundation.properties.openingHours')"
                          name="openingHours"
                          v-model="item.openingHours">
                </sw-field>

                <sw-field :label="$t('moorl-foundation.properties.vatId')" v-model="item.vatId"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.phoneNumber')" v-model="item.phoneNumber"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.shopUrl')" v-model="item.shopUrl"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.merchantUrl')" v-model="item.merchantUrl"></sw-field>
            </sw-card>
            {% endblock %}

            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.label.addressCard')">
                <sw-field :label="$t('moorl-foundation.properties.company')" v-model="item.company"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.street')" v-model="item.street"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.streetNumber')"
                          v-model="item.streetNumber"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.zipcode')" v-model="item.zipcode"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.city')" v-model="item.city"></sw-field>

                <sw-single-select
                        v-if="countries"
                        :label="$t('moorl-foundation.properties.country')"
                        :options="countries"
                        valueProperty="iso"
                        labelProperty="name"
                        v-model="item.countryCode"></sw-single-select>
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.label.contactPersonCard')">
                <sw-field :label="$t('moorl-foundation.properties.title')" v-model="item.title"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.firstName')" v-model="item.firstName"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.lastName')" v-model="item.lastName"></sw-field>
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.label.relationsCard')">
                <sw-entity-single-select
                        :label="$t('moorl-foundation.properties.salesChannelId')"
                        entity="sales_channel"
                        v-model="item.salesChannelId">
                </sw-entity-single-select>

                <sw-inherit-wrapper v-model="item.categories"
                                    isAssociation
                                    :label="$tc('sw-product.categoryForm.labelCategory')">
                    <template #content="{ currentValue }">
                        <sw-category-tree-field :categoriesCollection="currentValue ? currentValue : []"
                                                :placeholder="$tc('sw-product.categoryForm.placeholderCategory')">
                        </sw-category-tree-field>
                    </template>
                </sw-inherit-wrapper>

                <sw-entity-single-select
                        :label="$t('moorl-foundation.properties.customerGroupId')"
                        entity="customer_group"
                        v-model="item.customerGroupId">
                </sw-entity-single-select>

                <sw-entity-tag-select
                        :label="$t('sw-customer.baseForm.labelTags')"
                        v-model="item.tags">
                </sw-entity-tag-select>

                <sw-entity-multi-select
                        :label="$t('sw-product.basicForm.labelManufacturer')"
                        v-model="item.productManufacturers">
                </sw-entity-multi-select>

                <!--sw-entity-multi-select
                        :label="$t('global.entities.customer')"
                        labelProperty="customerNumber"
                        v-model="item.customers">
                </sw-entity-multi-select-->
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading"
                     :title="$t('global.entities.customer')"
                     class="moorl-entity-grid">
                <moorl-entity-grid entity="moorl_merchant_customer"
                                   :isLoading="isLoading"
                                   :criteria="merchantCustomerCriteria"
                                   :filterColumns="merchantCustomerFilterColumns"
                                   :defaultItem="{ merchantId: item.id }">
                </moorl-entity-grid>
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.label.locationCard')">
                <div class="sw-field">
                    <sw-button @click="getPositionByAddress">
                        {{ $t('moorl-foundation.buttons.getLocButtonText') }}
                    </sw-button>
                    <sw-button @click="drawMap">
                        {{ $t('moorl-foundation.buttons.openMapButtonText') }}
                    </sw-button>
                </div>

                <div class="sw-field">
                    <div id="embedMap" ref="embedMap" style="height:400px;"></div>
                </div>

                <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px">
                    <sw-field type="text"
                              :label="$t('moorl-foundation.properties.locationLat')"
                              v-model="item.locationLat">
                    </sw-field>
                    <sw-field type="text"
                              :label="$t('moorl-foundation.properties.locationLon')"
                              v-model="item.locationLon">
                    </sw-field>
                </sw-container>
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.label.markerCard')">
                <sw-entity-single-select
                        :label="$t('moorl-foundation.properties.markerId')"
                        entity="moorl_merchant_marker"
                        v-model="item.markerId">
                </sw-entity-single-select>
            </sw-card>

            <sw-card v-if="item" :isLoading="isLoading" :title="$t('moorl-foundation.label.customCard')">
                <sw-field :label="$t('moorl-foundation.properties.custom1')" v-model="item.custom1"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.custom2')" v-model="item.custom2"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.custom3')" v-model="item.custom3"></sw-field>
                <sw-field :label="$t('moorl-foundation.properties.custom4')" v-model="item.custom4"></sw-field>
            </sw-card>
        </sw-card-view>
    </template>

    <template slot="sidebar">
        <sw-sidebar :propagateWidth="true">
            <sw-sidebar-media-item ref="mediaSidebarItem">
                <template slot="context-menu-items" slot-scope="media">
                    <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                        Logo
                    </sw-context-menu-item>
                </template>
            </sw-sidebar-media-item>
        </sw-sidebar>
    </template>
</sw-page>
