{% block element_merchant_finder %}
    <div class="cms-element-{{ element.type }}"
         data-tile-layer-url="{{ config('MoorlMerchantFinder.config.tileLayerUrl') }}"
         data-tile-layer-copy="{{ config('MoorlMerchantFinder.config.tileLayerCopy|escape') }}"
         data-tile-layer-token="{{ config('MoorlMerchantFinder.config.tileLayerToken') }}">

        {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/search-form.html.twig' %}

        <div class="row form-row">

            <div class="col-12 col-lg-6 mb-4">
                {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/result-list.html.twig' %}
            </div>

            <div class="col-12 col-lg-6 mb-4">
                {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/map.html.twig' %}
            </div>

        </div>

    </div>
{% endblock %}
