<sw-page class="moorl-merchant-finder-detail">
    <template #smart-bar-header v-if="item">
        <h2>{{ item.name }}</h2>
    </template>

    <template #smart-bar-actions>
        <sw-button :routerLink="{ name: 'moorl.merchant.finder.list' }">
            {{ $t('moorl-merchant-finder.buttons.cancelButtonText') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $t('moorl-merchant-finder.buttons.saveButtonText') }}
        </sw-button-process>
    </template>

    <template #language-switch>
        <sw-language-switch
                :disabled="item && item._isNew"
                @on-change="onChangeLanguage"
        />
    </template>

    <template #content>
        <sw-card-view>
            <sw-tabs default-item="general">
                <template #default="{ active }">
                    <sw-tabs-item name="general" :activeTab="active">
                        {{ $tc('moorl-merchant-finder.cards.general') }}
                    </sw-tabs-item>

                    <sw-tabs-item name="address" :activeTab="active">
                        {{ $tc('moorl-merchant-finder.cards.address') }}
                    </sw-tabs-item>

                    <sw-tabs-item name="layout" :activeTab="active" :disabled="item && item._isNew">
                        {{ $tc('moorl-merchant-finder.cards.layout') }}
                    </sw-tabs-item>

                    <sw-tabs-item name="stock" :activeTab="active">
                        {{ $tc('moorl-merchant-finder.cards.stock') }}
                    </sw-tabs-item>

                    <sw-tabs-item name="merchantArea" :activeTab="active">
                        {{ $tc('moorl-merchant-finder.cards.merchantArea') }}
                    </sw-tabs-item>

                    <sw-tabs-item name="timeSettings" :activeTab="active">
                        {{ $tc('moorl-merchant-finder.cards.timeSettings') }}
                    </sw-tabs-item>

                    <sw-tabs-item name="other" :activeTab="active">
                        {{ $tc('moorl-merchant-finder.cards.other') }}
                    </sw-tabs-item>
                </template>

                <template #content="{ active }">
                    <moorl-thing-card v-if="active === 'general'" v-model:item="item">
                        <template #append>
                            <sw-container columns="1fr 1fr" gap="0 20px">
                                <sw-number-field :label="$tc('moorl-merchant-finder.properties.priority')" v-model:value="item.priority"/>
                                <sw-text-field :label="$tc('moorl-merchant-finder.properties.originId')" v-model:value="item.originId"/>
                                <sw-text-field :label="$tc('moorl-merchant-finder.properties.type')" v-model:value="item.type"/>
                                <sw-switch-field
                                        bordered
                                        :label="$tc('moorl-merchant-finder.properties.highlight')"
                                        v-model:value="item.highlight"
                                />
                                <sw-switch-field
                                        bordered
                                        :label="$tc('moorl-merchant-finder.properties.showCmsPage')"
                                        v-model:value="item.showCmsPage"
                                />
                            </sw-container>
                        </template>
                    </moorl-thing-card>

                    <moorl-person-card v-if="active === 'general'" v-model:item="item"/>

                    <moorl-contact-card v-if="active === 'general'" v-model:item="item"/>

                    <moorl-company-card v-if="active === 'general'" v-model:item="item"/>

                    <moorl-address-card v-if="active === 'address'" v-model:item="item"/>

                    <moorl-location-card v-if="active === 'address'" v-model:item="item"/>

                    <moorl-layout-card-v2
                            v-if="active === 'layout'"
                            v-model:item="item"
                            entity="moorl_merchant"
                            pageType="merchant_detail"
                            @save-cms-config="onClickSave"
                    />

                    <sw-card v-if="active === 'stock'"
                             :isLoading="isLoading"
                             :title="$tc('moorl-merchant-finder.cards.stock')"
                             class="moorl-entity-grid">
                        <moorl-entity-grid
                                key="moorl_merchant_stock"
                                entity="moorl_merchant_stock"
                                :isLoading="isLoading"
                                :criteria="merchantStockCriteria"
                                :filterColumns="merchantStockFilterColumns"
                                :defaultItem="{ merchantId: item.id }"
                        />
                    </sw-card>

                    <sw-card v-if="active === 'merchantArea'"
                             :isLoading="isLoading"
                             :title="$tc('moorl-merchant-finder.cards.merchantArea')">
                        <sw-container columns="1fr 1fr" gap="0 20px">
                            <sw-single-select
                                    v-model:value="item.deliveryType"
                                    :options="deliveryTypeOptions"
                                    :label="$tc('moorl-merchant-finder.properties.deliveryType')"
                            />

                            <sw-number-field
                                    v-if="item.deliveryType === 'radius'"
                                    :label="$tc('moorl-merchant-finder.properties.maxRadius')"
                                    :helpText="$tc('moorl-merchant-finder.tooltip.merchantMaxRadius')"
                                    v-model:value="item.maxRadius"
                            />

                            <sw-number-field
                                    v-if="item.deliveryType === 'radius'"
                                    :label="$tc('moorl-merchant-finder.properties.minOrderValue')"
                                    v-model:value="item.minOrderValue"
                            />

                            <sw-number-field
                                    v-if="item.deliveryType === 'radius'"
                                    :label="$tc('moorl-merchant-finder.properties.deliveryPrice')"
                                    v-model:value="item.deliveryPrice"
                            />
                        </sw-container>
                    </sw-card>

                    <sw-card v-if="active === 'merchantArea' && item.deliveryType === 'area'"
                             :isLoading="isLoading"
                             :title="$tc('moorl-merchant-finder.cards.merchantArea')"
                             class="moorl-entity-grid">
                        <moorl-entity-grid
                                key="moorl_merchant_area"
                                entity="moorl_merchant_area"
                                :isLoading="isLoading"
                                :criteria="merchantAreaCriteria"
                                :filterColumns="merchantAreaFilterColumns"
                                :default-item="{ merchantId: item.id }"
                        />
                    </sw-card>

                    <moorl-opening-hours-card v-if="active === 'timeSettings'" :item="item">
                        <template #append>
                            <sw-switch-field
                                    bordered
                                    :label="$tc('moorl-merchant-finder.properties.showOpeningHours')"
                                    v-model:value="item.showOpeningHours"
                            />
                        </template>
                    </moorl-opening-hours-card>

                    <sw-card v-if="active === 'other'"
                             :isLoading="isLoading"
                             :title="$tc('moorl-merchant-finder.cards.linkedSalesChannels')">
                        <sw-alert variant="info">
                            {{ $tc('moorl-merchant-finder.notification.linkedSalesChannels') }}
                        </sw-alert>

                        <sw-entity-many-to-many-select
                                :label="$tc('moorl-merchant-finder.properties.salesChannels')"
                                :localMode="true"
                                labelProperty="name"
                                v-model:entityCollection="item.salesChannels"
                        />

                        <sw-inherit-wrapper
                                v-model:value="item.categories"
                                isAssociation
                                :label="$tc('sw-product.categoryForm.labelCategory')"
                        >
                            <template #content="{ currentValue }">
                                <sw-category-tree-field
                                        :categoriesCollection="currentValue ? currentValue : []"
                                        :placeholder="$tc('sw-product.categoryForm.placeholderCategory')"
                                />
                            </template>
                        </sw-inherit-wrapper>

                        <sw-entity-single-select
                                :label="$t('moorl-foundation.properties.customerGroupId')"
                                entity="customer_group"
                                v-model:value="item.customerGroupId"
                        />

                        <sw-entity-tag-select
                                :label="$t('sw-customer.baseForm.labelTags')"
                                v-model:entityCollection="item.tags"
                        />

                        <sw-entity-multi-select
                                :label="$t('sw-product.basicForm.labelManufacturer')"
                                v-model:entityCollection="item.productManufacturers"
                        />

                        <sw-alert variant="info">
                            {{ $tc('moorl-merchant-finder.notification.linkedCustomers') }}
                        </sw-alert>

                        <moorl-entity-grid
                                entity="moorl_merchant_customer"
                                :isLoading="isLoading"
                                :criteria="merchantCustomerCriteria"
                                :filterColumns="merchantCustomerFilterColumns"
                                :default-item="{ merchantId: item.id }"
                        />
                    </sw-card>

                    <moorl-custom-card v-if="active === 'other'" :item="item"/>
                </template>
            </sw-tabs>
        </sw-card-view>
    </template>
</sw-page>
