<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General</title>
        <title lang="de-DE">Einstellungen</title>

        <component name="sw-entity-single-select">
            <name>category</name>
            <entity>category</entity>
            <label>Main page with store locator</label>
            <label lang="de-DE">Hauptseite mit Händlersuche</label>
        </component>
    </card>

    <card>
        <title>Merchant selection</title>
        <title lang="de-DE">Händlerauswahl</title>

        <input-field type="int">
            <name>merchantSelectionLimit</name>
            <label>Result limit</label>
            <label lang="de-DE">Maximale Ergebnisse</label>
            <defaultValue>20</defaultValue>
        </input-field>

        <input-field type="int">
            <name>merchantSelectionRadius</name>
            <label>Radius limit</label>
            <label lang="de-DE">Maximaler Suchradius</label>
            <defaultValue>30</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>merchantSelectionStyle</name>
            <label>Layout</label>
            <label lang="de-DE">Layout</label>
            <options>
                <option>
                    <id>standard</id>
                    <name>Standard</name>
                    <name lang="de-DE">Standard</name>
                </option>
                <option>
                    <id>compact</id>
                    <name>Compact</name>
                    <name lang="de-DE">Kompakt</name>
                </option>
            </options>
            <defaultValue>compact</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Listing options</title>
        <title lang="de-DE">Listing Optionen</title>

        <input-field type="bool">
            <name>productFilterMerchant</name>
            <label>Merchant filter for product listing</label>
            <label lang="de-DE">Händlerfilter für Produktlisten</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>merchantRadiusFilter</name>
            <label>Radius filter for merchant listing</label>
            <label lang="de-DE">Radius-Filter für Händlerliste</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>merchantSearchFilter</name>
            <label>Text search for merchant listing</label>
            <label lang="de-DE">Textsuche für Händlerliste</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>merchantCountryFilter</name>
            <label>Country filter for merchant listing</label>
            <label lang="de-DE">Länder-Filter für Händlerliste</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>merchantTagFilter</name>
            <label>Tag filter for merchant listing</label>
            <label lang="de-DE">Tag-Filter für Händlerliste</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>merchantManufacturerFilter</name>
            <label>Manufacturer filter for merchant listing</label>
            <label lang="de-DE">Hertseller-Filter für Händlerliste</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Merchant Results</title>
        <title lang="de-DE">Händler Ergebnisse</title>

        <input-field type="bool">
            <name>showSearchLocation</name>
            <label>Show search location</label>
            <label lang="de-DE">Such Standort zeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showName</name>
            <label>Show name</label>
            <label lang="de-DE">Namen zeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showLogo</name>
            <label>Show logo</label>
            <label lang="de-DE">Logo zeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showAddress</name>
            <label>Show address</label>
            <label lang="de-DE">Adresse zeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showPhoneNumber</name>
            <label>Show phone number</label>
            <label lang="de-DE">Telefonnummer zeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showEmail</name>
            <label>Show email</label>
            <label lang="de-DE">E-Mail zeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showDescription</name>
            <label>Show description</label>
            <label lang="de-DE">Beschreibung zeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>showOpeningHours</name>
            <label>Show opening hours</label>
            <label lang="de-DE">Öffnungszeiten zeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="int">
            <name>positionDistanceDefault</name>
            <label>Default distance</label>
            <label lang="de-DE">Standard Entfernung</label>
            <defaultValue>50</defaultValue>
            <placeholder>50</placeholder>
        </input-field>
    </card>

    <card>
        <title>Advanced search</title>
        <title lang="de-DE">Erweiterte Suche</title>

        <input-field type="bool">
            <name>suggestActive</name>
            <label>Suggest active</label>
            <label lang="de-DE">Suchvorschläge aktiv</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="int">
            <name>suggestLimit</name>
            <label>Suggest limit</label>
            <label lang="de-DE">Maximale Suchvorschläge</label>
            <defaultValue>6</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>searchActive</name>
            <label>Search active</label>
            <label lang="de-DE">Suchergebnisse aktiv</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="int">
            <name>searchLimit</name>
            <label>Search limit</label>
            <label lang="de-DE">Maximale Suchergebnisse</label>
            <defaultValue>24</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Suggest config</title>
        <title lang="de-DE">Suchvorschläge Konfiguration</title>
        <input-field type="bool">
            <name>suggestConfigActive</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
            <defaultValue>false</defaultValue>
        </input-field>
        <component name="moorl-listing-config">
            <name>suggestConfig</name>
        </component>
    </card>

    <card>
        <title>Search config</title>
        <title lang="de-DE">Suchergebnisse Konfiguration</title>
        <input-field type="bool">
            <name>searchConfigActive</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
            <defaultValue>false</defaultValue>
        </input-field>
        <component name="moorl-listing-config">
            <name>searchConfig</name>
        </component>
    </card>

    <card>
        <title>Auto translate [Premium]</title>
        <title lang="de-DE">Automatische Übersetzungen [Premium]</title>

        <input-field type="multi-select">
            <name>translateMerchantProperties</name>
            <label>Merchant fields</label>
            <label lang="de-DE">Händler Felder</label>
            <options>
                <option>
                    <id>name</id>
                    <name>name</name>
                </option>
                <option>
                    <id>teaser</id>
                    <name>teaser</name>
                </option>
                <option>
                    <id>description</id>
                    <name>description</name>
                </option>
                <option>
                    <id>keywords</id>
                    <name>keywords</name>
                </option>
                <option>
                    <id>metaTitle</id>
                    <name>metaTitle</name>
                </option>
                <option>
                    <id>metaDescription</id>
                    <name>metaDescription</name>
                </option>
            </options>
        </input-field>

        <component name="moorl-support-link">
            <name>null</name>
            <path>/MoorlFoundation/features-premium/</path>
        </component>
    </card>

    <card>
        <title>Marker settings</title>
        <title lang="de-DE">Marker Einstellungen</title>

        <component name="sw-entity-single-select">
            <name>defaultMarker</name>
            <entity>moorl_marker</entity>
            <label>Default</label>
            <label lang="de-DE">Standard</label>
        </component>

        <component name="sw-entity-single-select">
            <name>highlightMarker</name>
            <entity>moorl_marker</entity>
            <label>Highlight</label>
            <label lang="de-DE">Hervorgehoben</label>
        </component>
    </card>
</config>
