<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>General</title>
        <title lang="de-DE">Einstellungen</title>

        <component name="sw-entity-single-select">
            <name>category</name>
            <entity>category</entity>
            <label>Page with merchant finder</label>
            <label lang="de-DE">Seite mit Händlersuche</label>
        </component>
    </card>

    <card>
        <title>Advanced</title>
        <title lang="de-DE">Erweitert</title>
        <input-field type="bool">
            <name>searchParams</name>
            <label>Use search params in URL</label>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field>
            <name>allowedSearchCountryCodes</name>
            <label>Filter Countries</label>
            <label lang="de-DE">Länder Filtern</label>
            <helpText>Cities can also exist in foreign countries, define your desried countries to guaranty the best search results</helpText>
            <helpText lang="de-DE">Städte können auch in fremden Ländern existieren, definiere hier deine gewünschten Länder um die besten Suchergebnisse zu garantieren</helpText>
            <placeholder>de,at,ch</placeholder>
            <placeholder lang="de-DE">de,at,ch</placeholder>
        </input-field>
        <input-field>
            <name>nominatim</name>
            <label>OpenStreetMap Search Engine</label>
            <label lang="de-DE">OpenStreetMap Suchmaschine</label>
            <placeholder>https://nominatim.openstreetmap.org/search</placeholder>
            <placeholder lang="de-DE">https://nominatim.openstreetmap.org/search</placeholder>
            <helpText>If not defined, its always https://nominatim.openstreetmap.org/search</helpText>
            <helpText lang="de-DE">Wenn nicht definiert wird immer https://nominatim.openstreetmap.org/search verwendet</helpText>
        </input-field>
        <input-field>
            <name>tileLayerUrl</name>
            <label>Tile Layer Provider URL</label>
            <label lang="de-DE">Map Design Anbieter URL</label>
            <defaultValue><![CDATA[https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png]]></defaultValue>
            <placeholder><![CDATA[https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png]]></placeholder>
        </input-field>
        <input-field type="textarea">
            <name>tileLayerCopy</name>
            <label>Tile Layer Provider Copyright</label>
            <label lang="de-DE">Map Design Anbieter Copyright</label>
            <defaultValue><![CDATA[Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>]]></defaultValue>
            <placeholder><![CDATA[Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>]]></placeholder>
        </input-field>
    </card>

    <card>
        <title>Default Marker</title>
        <title lang="de-DE">Standard Marker</title>

        <input-field type="bool">
            <name>markerCustom</name>
            <label>Use custom marker</label>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="int">
            <name>iconSizeX</name>
            <label>Icon size X</label>
            <defaultValue>25</defaultValue>
            <placeholder>25</placeholder>
        </input-field>
        <input-field type="int">
            <name>iconSizeY</name>
            <label>Icon size Y</label>
            <defaultValue>41</defaultValue>
            <placeholder>41</placeholder>
        </input-field>
        <input-field type="int">
            <name>shadowSizeX</name>
            <label>Shadow size X</label>
            <defaultValue>41</defaultValue>
            <placeholder>41</placeholder>
        </input-field>
        <input-field type="int">
            <name>shadowSizeY</name>
            <label>Shadow size Y</label>
            <defaultValue>41</defaultValue>
            <placeholder>41</placeholder>
        </input-field>
        <input-field type="int">
            <name>iconAnchorX</name>
            <label>Icon anchor X</label>
            <defaultValue>12</defaultValue>
            <placeholder>12</placeholder>
        </input-field>
        <input-field type="int">
            <name>iconAnchorY</name>
            <label>Icon anchor Y</label>
            <defaultValue>41</defaultValue>
            <placeholder>41</placeholder>
        </input-field>
        <input-field type="int">
            <name>shadowAnchorX</name>
            <label>Shadow anchor X</label>
            <defaultValue>6</defaultValue>
            <placeholder>6</placeholder>
        </input-field>
        <input-field type="int">
            <name>shadowAnchorY</name>
            <label>Shadow anchor Y</label>
            <defaultValue>21</defaultValue>
            <placeholder>21</placeholder>
        </input-field>
        <input-field type="int">
            <name>popupAnchorX</name>
            <label>Popup anchor X</label>
            <defaultValue>1</defaultValue>
            <placeholder>1</placeholder>
        </input-field>
        <input-field type="int">
            <name>popupAnchorY</name>
            <label>Popup anchor Y</label>
            <defaultValue>-34</defaultValue>
            <placeholder>-34</placeholder>
        </input-field>

        <component name="sw-media-field">
            <name>iconUrl</name>
            <label>Icon</label>
        </component>
        <component name="sw-media-field">
            <name>iconRetinaUrl</name>
            <label>Icon retina</label>
        </component>
        <component name="sw-media-field">
            <name>shadowUrl</name>
            <label>Shadow</label>
        </component>
    </card>

</config>
