<div class="moorl-merchant-finder-popup">
    <b><% v.company %></b>
    <p><% v.street %> <% v.streetNumber %>
        <br><% v.zipcode %> <% v.city %>
        <% if (v.country != null) { %>
        <br><% v.country %>
        <% } %>
    </p>
</div>