{% if merchant.cmsPage %}
    <div class="cms-page">
        {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': merchant.cmsPage} %}
    </div>
{% else %}
    {% if merchant.translated.description %}
        <div class="mb-2">{{ merchant.translated.description|raw }}</div>
    {% endif %}

    {% sw_include '@Storefront/plugin/moorl-merchant-finder/component/result-item-static-main.html.twig' %}

    {% sw_include '@Storefront/plugin/moorl-merchant-finder/component/result-item-static-relations.html.twig' %}

    {% sw_include '@Storefront/plugin/moorl-merchant-finder/component/result-item-static-actions.html.twig' %}
{% endif %}