{% sw_extends 'storefront/base.html.twig' %}

{% block base_main_inner %}
    <div class="container-main">
        {% sw_include '@Storefront/plugin/moorl-merchant-finder/page/merchant-detail.html.twig' %}
    </div>
{% endblock %}