<sw-page class="moorl-merchant-finder-detail">
    <template slot="smart-bar-actions">
        <sw-button :routerLink="{ name: 'moorl.merchant.finder.list' }">
            {{ $t('moorl-merchant-finder.buttons.cancelButtonText') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $t('moorl-merchant-finder.buttons.saveButtonText') }}
        </sw-button-process>
    </template>

    <template slot="content">
        <sw-card-view>

            <sw-card :isLoading="isLoading" :title="$t('moorl-merchant-finder.label.accountCard')">

                <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px">

                    <div>

                        <div class="sw-field">
                            <sw-upload-store-listener
                                :uploadTag="uploadTag"
                                autoUpload
                                @media-upload-finish="setMediaItem">
                            </sw-upload-store-listener>
                            <sw-media-upload
                                :uploadTag="uploadTag"
                                :source="merchant.mediaId"
                                :allowMultiSelect="false"
                                :label="$t('moorl-merchant-finder.properties.logo')"
                                :defaultFolder="mediaStore.entityName"
                                variant="regular"
                                @sw-media-upload-media-upload-success="setMediaItem"
                                @media-drop="onDropMedia"
                                @media-upload-remove-image="onUnlinkMedia">
                            </sw-media-upload>
                        </div>

                        <sw-field type="switch" bordered :label="$t('moorl-merchant-finder.properties.active')" v-model="merchant.active"></sw-field>

                        <sw-field type="textarea"
                                  :label="$t('moorl-merchant-finder.properties.description')"
                                  :placeholder="$t('moorl-merchant-finder.properties.description')"
                                  name="description"
                                  v-model="merchant.description">
                        </sw-field>

                        <sw-field type="textarea"
                                  :label="$t('moorl-merchant-finder.properties.openingHours')"
                                  :placeholder="$t('moorl-merchant-finder.properties.openingHours')"
                                  name="openingHours"
                                  v-model="merchant.openingHours">
                        </sw-field>
                    </div>

                    <div>
                        <sw-field :label="$t('moorl-merchant-finder.properties.company')" v-model="merchant.company"></sw-field>
                        <sw-field :label="$t('moorl-merchant-finder.properties.title')" v-model="merchant.title"></sw-field>
                        <sw-field :label="$t('moorl-merchant-finder.properties.firstName')" v-model="merchant.firstName"></sw-field>
                        <sw-field :label="$t('moorl-merchant-finder.properties.lastName')" v-model="merchant.lastName"></sw-field>
                        <sw-field :label="$t('moorl-merchant-finder.properties.vatId')" v-model="merchant.vatId"></sw-field>
                        <sw-field :label="$t('moorl-merchant-finder.properties.email')" v-model="merchant.email"></sw-field>
                        <sw-field :label="$t('moorl-merchant-finder.properties.phoneNumber')" v-model="merchant.phoneNumber"></sw-field>
                        <sw-field :label="$t('moorl-merchant-finder.properties.shopUrl')" v-model="merchant.shopUrl"></sw-field>
                        <sw-field :label="$t('moorl-merchant-finder.properties.merchantUrl')" v-model="merchant.merchantUrl"></sw-field>
                    </div>

                </sw-container>

            </sw-card>

            <sw-card :isLoading="isLoading" :title="$t('moorl-merchant-finder.label.relationsCard')">
                <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px">
                    <div>
                        <sw-select-field
                            :label="$t('moorl-merchant-finder.properties.salesChannelId')"
                            v-model="merchant.salesChannelId">
                            <option></option>
                            <option v-for="salesChannel in salesChannels" :value="salesChannel.id">{{ salesChannel.name }}</option>
                        </sw-select-field>
                        <sw-inherit-wrapper v-model="merchant.categories"
                                            isAssociation
                                            :label="$tc('sw-product.categoryForm.labelCategory')">
                            <template #content="{ currentValue }">
                                <sw-category-tree-field :categoriesCollection="currentValue ? currentValue : []"
                                                        :placeholder="$tc('sw-product.categoryForm.placeholderCategory')">
                                </sw-category-tree-field>
                            </template>
                        </sw-inherit-wrapper>
                    </div>
                    <div>
                        <sw-select-field
                            :label="$t('moorl-merchant-finder.properties.customerGroupId')"
                            v-model="merchant.customerGroupId">
                            <option></option>
                            <option v-for="customerGroup in customerGroups" :value="customerGroup.id">{{ customerGroup.name }}</option>
                        </sw-select-field>
                        <sw-entity-tag-select
                            :label="$t('sw-customer.baseForm.labelTags')"
                            v-model="merchant.tags">
                        </sw-entity-tag-select>
                        <sw-entity-multi-select
                            :label="$t('sw-product.basicForm.labelManufacturer')"
                            v-model="merchant.productManufacturers">
                        </sw-entity-multi-select>
                    </div>
                </sw-container>
            </sw-card>

            <sw-card :isLoading="isLoading" :title="$t('moorl-merchant-finder.label.addressCard')">

                <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px">

                    <sw-field :label="$t('moorl-merchant-finder.properties.street')" v-model="merchant.street"></sw-field>
                    <sw-field :label="$t('moorl-merchant-finder.properties.streetNumber')" v-model="merchant.streetNumber"></sw-field>
                    <sw-field :label="$t('moorl-merchant-finder.properties.zipcode')" v-model="merchant.zipcode"></sw-field>
                    <sw-field :label="$t('moorl-merchant-finder.properties.city')" v-model="merchant.city"></sw-field>

                    <sw-select-field :label="$t('moorl-merchant-finder.properties.countryId')" v-model="merchant.countryId">
                        <option v-for="country in countries" :value="country.id">{{ country.name }}</option>
                    </sw-select-field>

                    <sw-field :label="$t('moorl-merchant-finder.properties.countryCode')" v-model="merchant.countryCode"></sw-field>

                    <sw-field :label="$t('moorl-merchant-finder.properties.country')" v-model="merchant.country"></sw-field>

                </sw-container>

            </sw-card>

            <sw-card :isLoading="isLoading" :title="$t('moorl-merchant-finder.label.locationCard')">

                <div class="sw-field">
                    <sw-button @click="getPositionByAddress">
                        {{ $t('moorl-merchant-finder.buttons.getLocButtonText') }}
                    </sw-button>
                    <sw-button @click="posSelect">
                        {{ $t('moorl-merchant-finder.buttons.selectLocButtonText') }}
                    </sw-button>
                    <sw-button @click="drawMap">
                        {{ $t('moorl-merchant-finder.buttons.openMapButtonText') }}
                    </sw-button>
                </div>

                <div class="sw-field">
                    <div id="embedMap" style="height:400px;"></div>
                </div>

                <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px">
                    <sw-field type="text"
                              :label="$t('moorl-merchant-finder.properties.locationLat')"
                              v-model="merchant.locationLat">
                    </sw-field>
                    <sw-field type="text"
                              :label="$t('moorl-merchant-finder.properties.locationLon')"
                              v-model="merchant.locationLon">
                    </sw-field>
                </sw-container>

            </sw-card>

            <sw-card :isLoading="isLoading" :title="$t('moorl-merchant-finder.label.markerCard')">
                <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0 30px">
                    <div>
                        <div class="sw-field">
                            <sw-upload-store-listener
                                :uploadTag="uploadTag"
                                autoUpload
                                @media-upload-finish="setMarkerItem">
                            </sw-upload-store-listener>
                            <sw-media-upload
                                :uploadTag="uploadTag"
                                :source="merchant.markerId"
                                :allowMultiSelect="false"
                                :label="$t('moorl-merchant-finder.properties.markerId')"
                                :defaultFolder="mediaStore.entityName"
                                variant="regular"
                                @sw-media-upload-media-upload-success="setMarkerItem"
                                @media-drop="onDropMarker"
                                @media-upload-remove-image="onUnlinkMarker">
                            </sw-media-upload>
                        </div>
                        <div class="sw-field">
                            <sw-upload-store-listener
                                :uploadTag="uploadTag"
                                autoUpload
                                @media-upload-finish="setMarkerShadowItem">
                            </sw-upload-store-listener>
                            <sw-media-upload
                                :uploadTag="uploadTag"
                                :source="merchant.markerShadowId"
                                :allowMultiSelect="false"
                                :label="$t('moorl-merchant-finder.properties.markerShadowId')"
                                :defaultFolder="mediaStore.entityName"
                                variant="regular"
                                @sw-media-upload-media-upload-success="setMarkerShadowItem"
                                @media-drop="onDropMarkerShadow"
                                @media-upload-remove-image="onUnlinkMarkerShadow">
                            </sw-media-upload>
                        </div>
                    </div>
                    <div>
                        <sw-field type="textarea"
                                  :label="$t('moorl-merchant-finder.properties.markerSettings')"
                                  :placeholder="$t('moorl-merchant-finder.properties.markerSettings')"
                                  name="markerSettings"
                                  v-model="merchant.markerSettings">
                        </sw-field>
                    </div>
                </sw-container>
            </sw-card>

        </sw-card-view>
    </template>


    <template slot="sidebar">
        <sw-sidebar :propagateWidth="true">
            <sw-sidebar-media-item ref="mediaSidebarItem">
                <template slot="context-menu-items" slot-scope="media">
                    <sw-context-menu-item @click="setMediaFromSidebar(media.mediaItem)">
                        Logo
                    </sw-context-menu-item>
                </template>
            </sw-sidebar-media-item>
        </sw-sidebar>
    </template>


</sw-page>
