<div class="moorl-listing-item-wrapper{% if config.itemHasBorder.value %} has-border{% endif %}"
     style="{{ itemCss|join(';')|raw }}">
    {% set merchant = item %}

    {% block moorl_merchant_listing_box %}
        {% sw_include '@Storefront/plugin/moorl-merchant-finder/component/merchant-listing/box-main.html.twig' %}
        {% sw_include '@Storefront/plugin/moorl-merchant-finder/component/merchant-listing/box-relations.html.twig' %}
        {% sw_include '@Storefront/plugin/moorl-merchant-finder/component/merchant-listing/box-actions.html.twig' %}
    {% endblock %}
</div>
