{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_remove %}
    {{ parent() }}

    {% if lineItem.extensions.MoorlMerchantStock %}
        <div class="col-12 mt-2">
            {{ dump(lineItem.extensions.MoorlMerchantStock) }}
        </div>
    {% endif %}
{% endblock %}

{% block page_checkout_item_delivery_date %}
    {{ parent() }}
    {% if lineItem.extensions.MoorlMerchantStock and controllerAction != 'finishPage' %}
        <button type="button" class="btn btn-light">Dummy Button</button>
    {% endif %}
{% endblock %}
