img.moorl-mf-logo {
    width: 100px;
}

.cms-element-moorl-merchant-finder {
    label.moorl-merchant-finder-result-item {
        cursor: pointer;
    }

    .is-hide-label > .form-group > label {
        display: none;
    }

    .moorl-merchant-finder-result-item {
        border-radius: 0 !important;
        transition: all .3s;
        overflow: hidden;

        .highlight {
            width: 160px;
            background: $warning;
            position: absolute;
            top: 20px;
            left: -40px;
            text-align: center;
            line-height: 40px;
            color: $white;
            letter-spacing: 3px;
            text-transform: uppercase;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            white-space: nowrap;

            &.top-right {
                top: 20px;
                right: -40px;
                left: auto;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        }

        img {
            width: 100%;
            margin-bottom: 1rem;
        }

        h4 {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            span {
                margin-right: 15px;
            }
        }

        &:hover {
            background: $light;
            border-color: $primary;
            z-index: 100;
        }

        .opening-hours,
        .tags,
        .categories,
        .manufacturers {
            font-size: 0.8em;
            span {
                &:after {
                    content: ",";
                }
                &:last-child:after {
                    content: none;
                }

            }
        }

        .opening-hours {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 3px;
        }

        .manufacturers {
            img {
                height: 50px;
                width: auto;
                line-height: 50px;
                margin-right: 8px;
            }
        }

        .btn:focus,
        .btn.focus {
            outline: 0;
            box-shadow: none;
        }
    }

    [type="radio"]:checked + .moorl-merchant-finder-result-item,
    .moorl-merchant-finder-result-item.active {
        color: $body-color;
        background: $light;
        border-color: $primary;
        border-left: 10px solid $primary;
        z-index: 200;
    }

    .element-content {
        .search-box {}

        .results-box {}

        .map-box {
            position: relative;
            height: 600px;
        }

        .results-content {}

        .map-content {
            height: 100%;
            background-color: #0F9D58;
            background-image: repeating-linear-gradient(-45deg,
                #0f763b,
                #0f763b 10px,
                #0F9D58 10px,
                #0F9D58 20px);

            > div {
                height: 100%;
                width: 100%;
            }

            .leaflet-popup-content-wrapper {
                border-color: $border-color;
                border-radius: $border-radius;
                background-color: rgba($body-bg, 80%);
                color: $body-color;
            }

            .leaflet-popup-tip {
                background-color: rgba($body-bg, 80%);
            }
        }
    }

    .moorl-merchant-finder-results {
        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: $border-color;
        }

        &::-webkit-scrollbar-thumb {
            background: $primary;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $primary;
        }
    }
}

@include media-breakpoint-up(lg) {
    .cms-element-moorl-merchant-finder {
        min-height: 200px;
        width: 100%;

        &.results-map {
            .element-content {
                .results-box {
                    order: 2;
                }

                .map-box {
                    order: 3;
                }
            }
        }

        &.results-overlay {
            .element-content {
                height: var(--style-height);
                display: block;
                position: relative;

                .map-box {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                .search-box {
                    position: absolute;
                    left: 80px;
                    right: 20px;
                    top: 20px;
                    width: auto;
                    z-index: 2;

                    .form-control {
                        background-color: rgba($input-bg, 80%);
                    }
                }

                .results-box {
                    position: absolute;
                    width: auto;
                    height: auto;
                    right: 20px;
                    top: 80px;
                    bottom: 20px;
                    z-index: 2;
                }

                .results-content {
                    .list-group-item {
                        background-color: rgba($body-bg, 80%);
                    }
                }
            }
        }

        .element-content {
            display: flex;
            flex-wrap: wrap;
            margin-right: -10px;
            margin-left: -10px;

            .search-box {
                order: 1;
                padding-right: 10px;
                padding-left: 10px;
                position: relative;
                width: 100%;
            }

            .results-box {
                order: 3;
                padding-right: 10px;
                padding-left: 10px;
                position: relative;
                width: auto;
                flex-basis: 0;
                flex-grow: 0;
                max-width: 100%;
                height: var(--style-height);
            }

            .map-box {
                order: 2;
                padding-right: 10px;
                padding-left: 10px;
                position: relative;
                width: 100%;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                height: var(--style-height);
            }

            .results-content {
                width: var(--style-results-width);
                max-height: 100%;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                    transition: all .3s;
                }

                &::-webkit-scrollbar-thumb {
                    background: transparent;
                    transition: all .3s;
                }

                &:hover {
                    &::-webkit-scrollbar-track {
                        background: $light;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: $border-color;
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        position: relative;
                        border-radius: 0 !important;
                    }
                }
            }

            .map-content {
                height: 100%;
                background-color: #0F9D58;
                background-image: repeating-linear-gradient(-45deg,
                    #0f763b,
                    #0f763b 10px,
                    #0F9D58 10px,
                    #0F9D58 20px);

                > div {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
