.cms-element-moorl-merchant-finder {

    .element-content {

        .search-box {}

        .results-box {}

        .map-box {
            position: relative;
            height: 600px;
        }

        .results-content {
            ul {
                li {
                    border-radius: 0 !important;
                    .manufacturers {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin: 8px 0;

                        img, span {
                            height: 50px;
                            width: auto;
                            line-height: 50px;
                            font-weight: 600;
                            margin-right: 8px;
                        }
                    }

                    .btn:focus,
                    .btn.focus {
                        outline: 0;
                        box-shadow: none;
                    }

                }
            }
        }

        .map-content {
            height: 100%;
            background-color: #0F9D58;
            background-image: repeating-linear-gradient(-45deg,
                #0f763b,
                #0f763b 10px,
                #0F9D58 10px,
                #0F9D58 20px);

            > div {
                height: 100%;
                width: 100%;
            }

            .leaflet-popup-content-wrapper {
                border-color: $border-color;
                border-radius: $border-radius;
                background-color: rgba($body-bg, 80%);
                color: $body-color;
            }

            .leaflet-popup-tip {
                background-color: rgba($body-bg, 80%);
            }

        }

    }


    .moorl-merchant-finder-results {

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: $border-color;
        }

        &::-webkit-scrollbar-thumb {
            background: $secondary;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: $primary;
        }

        .manufacturers {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 8px 0;

            img, span {
                height: 50px;
                width: auto;
                line-height: 50px;
                font-weight: 600;
                margin-right: 8px;
            }
        }

    }

}

@include media-breakpoint-up(lg) {

    .cms-element-moorl-merchant-finder {

        min-height: 200px;
        width: 100%;

        &.results-map {
            .element-content {
                .results-box {
                    order: 2;
                }

                .map-box {
                    order: 3;
                }
            }
        }

        &.results-overlay {
            .element-content {
                height: var(--style-height);
                display: block;
                position: relative;

                .map-box {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                .search-box {
                    position: absolute;
                    left: 80px;
                    right: 20px;
                    top: 20px;
                    width: auto;
                    z-index: 2;

                    .form-control {
                        background-color: rgba($input-bg, 80%);
                    }

                }

                .results-box {
                    position: absolute;
                    width: auto;
                    height: auto;
                    right: 20px;
                    top: 80px;
                    bottom: 20px;
                    z-index: 2;
                }

                .results-content {
                    .list-group-item {
                        background-color: rgba($body-bg, 80%);
                        &.active {
                            background-color: rgba($primary, 80%);
                        }
                    }
                }

            }

        }

        .element-content {

            display: flex;
            flex-wrap: wrap;
            margin-right: -10px;
            margin-left: -10px;

            .search-box {
                order: 1;
                padding-right: 10px;
                padding-left: 10px;
                position: relative;
                width: 100%;
            }

            .results-box {
                order: 3;
                padding-right: 10px;
                padding-left: 10px;
                position: relative;
                width: auto;
                flex-basis: 0;
                flex-grow: 0;
                max-width: 100%;
                height: var(--style-height);
            }

            .map-box {
                order: 2;
                padding-right: 10px;
                padding-left: 10px;
                position: relative;
                width: 100%;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
                height: var(--style-height);
            }

            .results-content {
                width: var(--style-results-width);
                max-height: 100%;
                overflow: auto;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    background: $border-color;
                }

                &::-webkit-scrollbar-thumb {
                    background: $secondary;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: $primary;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        position: relative;
                        border-radius: 0 !important;

                        .manufacturers {
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 8px 0;

                            img, span {
                                height: 50px;
                                width: auto;
                                line-height: 50px;
                                font-weight: 600;
                                margin-right: 8px;
                            }
                        }

                    }
                }
            }

            .map-content {
                height: 100%;
                background-color: #0F9D58;
                background-image: repeating-linear-gradient(-45deg,
                    #0f763b,
                    #0f763b 10px,
                    #0F9D58 10px,
                    #0F9D58 20px);

                > div {
                    height: 100%;
                    width: 100%;
                }

            }

        }


        .moorl-merchant-finder-results {

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-track {
                background: $border-color;
            }

            &::-webkit-scrollbar-thumb {
                background: $secondary;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: $primary;
            }

            .manufacturers {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin: 8px 0;

                img, span {
                    height: 50px;
                    width: auto;
                    line-height: 50px;
                    font-weight: 600;
                    margin-right: 8px;
                }
            }

        }

    }

}
