.cms-element-merchant-listing {
  .sorting {
    width: 100%;
    margin-top: 0;
  }

  .tags,
  .categories,
  .manufacturers {
    span {
      &:after {
        content: ",";
      }

      &:last-child:after {
        content: none;
      }
    }
  }
}
