{% block sw_cms_element_merchant_finder_config %}
    <div class="sw-cms-el-config-merchant-finder">
        <sw-field v-model="element.config.title.value" type="text" label="Title"></sw-field>
        <sw-field v-model="element.config.titleCss.value" type="text" label="Title class"></sw-field>
        <sw-text-field label="Min height" v-model="element.config.minHeight.value"></sw-text-field>
    </div>
{% endblock %}
