{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

{% block component_offcanvas_product_remove %}
    {{ parent() }}

    {% if lineItem.extensions.MoorlMerchantStock %}
        {% set merchantStock = lineItem.extensions.MoorlMerchantStock %}
        <div class="col-12">
            {% sw_include '@MoorlMerchantFinder/plugin/moorl-merchant-finder/component/line-item-summary.html.twig' %}
        </div>
    {% endif %}
{% endblock %}
