<div class="sw-cms-el-config-moorl-merchant-finder">
    <sw-container columns="1fr 1fr" gap="0 10px">
        <sw-select-field
            :label="$tc('moorl-cms.elements.general.config.label.style')"
            v-model="element.config.style.value">
            <option value="map-results">{{ $tc('moorl-cms.elements.general.config.label.styleMapResults') }}</option>
            <option value="results-map">{{ $tc('moorl-cms.elements.general.config.label.styleResultsMap') }}</option>
            <option value="fixed-map" disabled>{{ $tc('moorl-cms.elements.general.config.label.styleFixedMap') }}</option>
            <option value="results-overlay">{{ $tc('moorl-cms.elements.general.config.label.styleResultsOverlay') }}</option>
            <option value="results-masonry" disabled>{{ $tc('moorl-cms.elements.general.config.label.styleMasonry') }}</option>
        </sw-select-field>

        <sw-select-field
            :label="$tc('moorl-cms.elements.general.config.label.mapStyle')"
            v-model="element.config.mapStyle.value">
            <option value="basic">{{ $tc('moorl-cms.elements.general.config.label.styleBasic') }}</option>
        </sw-select-field>

        <sw-field v-model="element.config.items.value"
                  type="text"
                  :label="$tc('moorl-cms.elements.general.config.label.maxItems')">
        </sw-field>

        <sw-field v-model="element.config.type.value"
                  type="text"
                  :label="$tc('moorl-foundation.properties.type')">
        </sw-field>

        <sw-field v-model="element.config.categoryFilter.value"
                  bordered
                  type="switch"
                  :label="$tc('moorl-cms.elements.general.config.label.categoryFilter')">
        </sw-field>

        <sw-entity-single-select
            :label="$tc('moorl-cms.elements.general.config.label.categorySelected')"
            v-model="element.config.categoryId.value"
            entity="category"></sw-entity-single-select>

        <sw-field v-model="element.config.tagFilter.value"
                  bordered
                  type="switch"
                  :label="$tc('moorl-cms.elements.general.config.label.tagFilter')">
        </sw-field>

        <sw-entity-single-select
            :label="$tc('moorl-cms.elements.general.config.label.tagSelected')"
            v-model="element.config.tagId.value"
            entity="tag"></sw-entity-single-select>

        <sw-field v-model="element.config.manufacturerFilter.value"
                  bordered
                  type="switch"
                  :label="$tc('moorl-cms.elements.general.config.label.manufacturerFilter')">
        </sw-field>

        <sw-entity-single-select
            :label="$tc('moorl-cms.elements.general.config.label.manufacturerSelected')"
            v-model="element.config.manufacturerId.value"
            entity="product_manufacturer"></sw-entity-single-select>

        <sw-text-field
            :label="$tc('moorl-cms.elements.general.config.label.borders')"
            v-model="element.config.borders.value">
        </sw-text-field>

        <sw-text-field
            :label="$tc('moorl-cms.elements.general.config.label.minHeight')"
            v-model="element.config.minHeight.value">
        </sw-text-field>

        <sw-text-field
            :label="$tc('moorl-cms.elements.general.config.label.resultsWidth')"
            v-model="element.config.resultsWidth.value">
        </sw-text-field>
    </sw-container>
</div>
