{% block sw_cms_element_merchant_finder %}
    <div class="sw-cms-el-merchant-finder" :style="styles">
        <div class="" v-if="element.config.title.value">
            {{ element.config.title.value }}
        </div>
    </div>
{% endblock %}
